@import '../../styles/mixins';
@import '../../styles/variables';

.content-block {
  @include responsive-margins();

  &__container {
    padding-left: 2rem;
    padding-right: 2rem;

    @include respond-to(tablet) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @include respond-to(desktop) {
      @include content-limiter;
    }
  }

  &__heading {
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 2rem;

    @include respond-to(tablet) {
      font-size: 2.4rem;
      margin-bottom: 1.2rem;
    }

    @include respond-to(desktop) {
      font-size: 3.2rem;
      margin-bottom: 1.6rem;
    }
  }
}
